html,
body {
  height: 100%;
}

.wrapper {
  min-height: calc(100% - 4rem);
}

.footer {
  height: 4rem;
  line-height: 4rem;
}

#heading {
  line-height: 1;
}

h4 {
  color: #00BAC3;
  font-weight: normal;
  text-transform: lowercase;
}

#toggleButtons {
  display: none;
}

#htmlFormatted {
  padding: 1rem;
  background: #333;
  color: #eee;
  font-family: 'Inconsolata', monospace;
}

.highlight {
  color: #D7006D;
}

@media (min-width: 1000px) {
  #toggleButtons {
    display: inline-flex;
  }
}