html,
body {
  height: 100%;
}

.wrapper {
  min-height: calc(100% - 4rem);
}

.footer {
  height: 4rem;
  line-height: 4rem;
}

#heading {
  line-height: 1;
}

h4 {
  color: #00BAC3;
  font-weight: normal;
  text-transform: lowercase;
}

h6 {
  /* color: #DC3545; */
  font-weight: normal;
  text-transform: lowercase;
}

#rocksGlass {
  transform-origin: center center;
  animation: shake 1s infinite ease;
}

#iceLeft,
#iceRight {
  /* border-spacing: 0; */
  transform-origin: center center;
}

#iceLeft {
  animation: clink .8s infinite cubic-bezier(.41,.62,.4,.19);
}

#iceRight {
  animation: clink .8s .2s infinite cubic-bezier(.41,.62,.4,.19);
}

#results {
  max-width: 900px;
}

#toggleButtons {
  display: none;
}

#htmlFormatted {
  padding: 1rem;
  background: #333;
  color: #eee;
  font-family: 'Inconsolata', monospace;
}

.highlight {
  color: #DC3545;
}

@media (min-width: 1000px) {
  #toggleButtons {
    display: inline-flex;
  }
}

@keyframes shake {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(20deg) translateY(-10%);
  }
  60% {
    transform: rotate(40deg) translateY(5%);
  }
  100% {
    transform: rotate(0deg);
  }
}