html,
body {
  height: 100%;
}

a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none!important;
}

.wrapper {
  min-height: calc(99% - 4rem);
}

/* #userInput,
#loading {
  height: 300px;
} */

.footer {
  height: 4rem;
  line-height: 4rem;
}

#heading {
  font-size: 3rem;
  font-weight: lighter;
  /* line-height: 1; */
}

h4 {
  color: #00BAC3;
  font-weight: normal;
  text-transform: lowercase;
}

h6 {
  color: #333;
  font-weight: normal;
  text-transform: lowercase;
}

.btn {
  transition: color .3s ease-in-out,
    background-color .3s ease-in-out,
    border .3s ease-in-out,
    box-shadow .3s ease-in-out;
}

#rocksGlass {
  /* transform-origin: center center; */
  animation: shake 1s infinite ease;
}

/* #iceLeft,
#iceRight {
  border-spacing: 0;
  transform-origin: center center;
} */

#iceLeft {
  transform-origin: 36px 66px;
  animation: clink .8s infinite ease;
}

#iceRight {
  transform-origin: 60px 78px;
  animation: clink .8s .2s infinite ease;
}

#results {
  max-width: 900px;
}

#buttonDiv button {
  height: 1.875rem;
}

#toggleButtons {
  display: none;
}

/* #socialIcons a path,
#socialIcons a path,
#socialIcons a path {
  transition: fill .3s ease;
}

#socialIcons a:hover path,
#socialIcons a:focus path,
#socialIcons a:active path {
  fill: #C82333;
} */

#htmlFormatted {
  padding: 1rem;
  background: #333;
  color: #eee;
  font-family: 'Inconsolata', monospace;
}

.highlight {
  color: #DC3545;
}

@media (min-width: 1000px) {
#heading {
  font-size: 6rem;
}

  #toggleButtons {
    display: inline-flex;
  }
}

@keyframes shake {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}